#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #76ff64aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #12c712aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #170404;
}
.github-btn {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #6c191f;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.github-btn:hover {
  background-color: #792530;
}


.top-right {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 1000;
}

.contact-link {
  background-color: #001f4d; /* dark blue */
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.contact-link:hover {
  background-color: #003366;
}
